{% extends 'base/base.html' %}
{% block content %}

<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">О проекте</h3>

        <p class="main-text-style">Портал создан для руководителей цифровой трансформации университетов, с целью решения следующих задач:</p>
        <ul class="unordered-list">
            <li class="main-text-style1" type="circle"> Эффективное и всестороннее содействие цифровой трансформации научных и образовательных организаций,
                а также достижение стратегических целей Указа Президента РФ № 474 о национальных целях развития до
                2030 года за счет удобного и непрерывного взаимодействия между участниками сферы науки, образования,
                органов государственной власти и представителей ИКТ-рынках;</li>
            <li class="main-text-style1" type="circle"> Информирование ИТ-руководителей  в сфере науки и образования о проводимой государственной политики в
                области цифровой трансформации;</li>
            <li class="main-text-style1" type="circle"> Мониторинг чувствительных вопросов и проблем для их оперативной передаче компетентным органам
                государственной власти и принятия управленческих решений;</li>
            <li class="main-text-style1" type="circle"> Формирование базы данных участников ИТ отрасли и лидеров мнений в сфере науки и образования,
                поиск и отбор лучших проектов, практик и решений;</li>
        </ul>
        <p class="main-text-style">Проект направлен на  поддержку участников сферы высшего образования в вопросах:</p>
        <ol>
            <li class="main-text-style1" type="circle">- получения обратной связи от представителей сферы высшего образования, запуске опросов и мониторингов;</li>
            <li class="main-text-style1" type="circle">- в формулировании и решении отраслевых задач</li>
            <li class="main-text-style1" type="circle">- вовлечение ИТ-руководителей в экосистему государственных мероприятиий</li>
            <li class="main-text-style1" type="circle">- поиске кадров и молодых специалистов для задач сферы высшего образования</li>
            <li class="main-text-style1" type="circle">- расширения контактов в профессиональной среде и совместного решения ИТ-задач</li>
        </ol>
        <p class="main-text-style">Получение актуальной информации о деятельности органов власти, компаний. Синхронизация с заинтересованными образовательными организациями
        Формирования запросов на отечественные решения в области цифровой экономики для нужд сферы высшего образования</p>
        <!--<ul>
            <li>Эффективное и всестороннее содействие цифровой трансформации научных и образовательных организаций,
                а также достижение стратегических целей Указа Президента РФ № 474 о национальных целях развития до
                2030 года за счет удобного и непрерывного взаимодействия между участниками сферы науки, образования,
                органов государственной власти и представителей ИКТ-рынках;</li>
            <li>Информирование ИТ-руководителей  в сфере науки и образования о проводимой государственной политики в
                области цифровой трансформации;</li>
            <li>Мониторинг чувствительных вопросов и проблем для их оперативной передаче компетентным органам
                государственной власти и принятия управленческих решений;</li>
            <li>Формирование базы данных участников ИТ отрасли и лидеров мнений в сфере науки и образования,
                поиск и отбор лучших проектов, практик и решений;</li>
        </ul>

        <p class="sample-text">Проект направлен на  поддержку участников сферы высшего образования в вопросах:</p>
    <ul>- получения обратной связи от представителей сферы высшего образования, запуске опросов и мониторингов;
    <li>- в формулировании и решении отраслевых задач</li>
    <li>- вовлечение ИТ-руководителей в экосистему государственных мероприятиий</li>
    <li>- поиске кадров и молодых специалистов для задач сферы высшего образования</li>
    <li>- расширения контактов в профессиональной среде и совместного решения ИТ-задач</li></ul>
    <p class="sample-text">Получение актуальной информации о деятельности органов власти, компаний
    Синхронизация с заинтересованными образовательными организациями
        Формирования запросов на отечественные решения в области цифровой экономики для нужд сферы высшего образования</p>-->
    </div>
</section>

{% endblock %}
