{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<div class="featured_candidates_area candidate_page_padding">

        <div class="container">
            <div class="jumbotron">
                <h1 class="display-5">Рабочее пространство МГТУ им. Баумана</h1>
                <p class="lead">
                    Здесь создаются проекты для совместной работы преподавателей и студентов. И ещё какое-то очень
                    долгое и красивое описание, которое я, к сожалению, не могу придумать, т.к. не хватает фантазии,
                    пусть этим занимаются CEO или маркетологи.
                </p>
                <hr class="my-4">
                {% if theme_name %}
                    <p>Ваша тема: {{theme_name}}</p>
                    <p>
                        {% if mentor_fullname %}
                        Твой преподаватель: {{mentor_fullname}}
                        {% else %}
                        Ведется поиск преподавателя.
                        {% endif %}
                    </p>
                {% else %}
                    <p>Создай свою тему, чтобы начать работать над ней вместе с преподавателем!</p>
                {% endif %}

                {% if status == "student" %}
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="/project" role="button">
                    {% if theme_name %}
                        Изменить название темы
                    {% else %}
                        Создать свою тему для проекта
                    {% endif %}
                </a>
                </p>
                {% endif %}
            </div>
            <div class="row">
                {% for project in projects %}
                <div class="card" style="width: 18rem;">
                  <img src="{% static 'img/article/1.jpg' %}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{project.name}}</h5>
                    <p class="card-text">{{project.student.surname}} {{project.student.name}} {{project.student.patronymic}}</p>
                    <p class="card-text text-muted">{{project.student.group}}</p>
                    <a href="/project/{project.id}" class="btn btn-primary">Перейти к теме</a>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}